<main>

  <div class="contenedor__todo">

      <div class="caja__trasera">

          <div class="caja__trasera-login">

              <h3>¿Ya tenés una cuenta?</h3>

              <p>Inicia sesión para entrar en la página</p>

              <button id="btn__iniciar-sesion">Iniciar Sesión</button>

          </div>

          <div class="caja__trasera-register">

            <h3>¿Todavía no tenés cuenta?</h3>

            <p>Regístrate para que puedas iniciar sesión</p>

            <button id="btn__registrarse">Registrarse</button>

        </div>
      </div>



      <!-- ============================== -->

      <!-- Formulario de Login y Registro -->

      <!-- ============================== -->



      <div class="contenedor__login-register">

          <!-- Login -->

          <form class="formulario__login" [formGroup]="form" (ngSubmit)="login()">

              <h2>Iniciar Sesión</h2>

              <label for="email"></label>

              <input type="text" placeholder="Correo Electrónico" id="email" formControlName="email">

              <label for="pass"></label>

              <input type="password" name="" id="pass" placeholder="Contraseña" formControlName="pass">

              <label for="entrar"></label>

              <button id="entrar">Entrar</button>

    

          </form>

 <!-- Registro -->

 <form action="" class="formulario__register">

    <h2>Registrarse</h2>

    <label for="nombre"></label>

    <input type="text" placeholder="Nombre Completo" id="nombre">

    <label for="correo"></label>

    <input type="text" placeholder="Correo Electrónico" id="correo">

    <label for="usuario"></label>

    <input type="text" placeholder="Usuario" id="usuario">

    <label for="password"></label>

    <input type="password" placeholder="Contraseña" id="password">

    <label for="registrarse"></label>

    <button id="registrarse" onclick="registrar()">Registrarse</button>

</form>
      </div>

  </div>

</main>
